.header {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    to right,
    rgba(16, 62, 61, 0.5),
    rgba(0, 0, 0, 0.974)
  );
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
}

.handleSignout {
  padding: 1%;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 1rem;
  margin-top: 1rem;
  width: 7rem;
  border: none;
  color: rgb(39, 65, 64);
  background-color: honeydew;
  font-size: 15px;
  font: bold;
  font-weight: 600;
}

.header-logo {
  position: relative;
  width: 5rem;
  height: auto;
}

.header-logo img {
  width: 100%;
  height: auto;
  display: block;
}

.header ul {
  
  color: white;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
}

.header-link {
  text-decoration: none;
  color: white;
}

.header-go-back {
  padding: 13%;
  width: 5rem;
  color: rgb(39, 65, 64);
  font-size: 13px;
  font-weight: 600;
  border-radius: 7px;
  background-color: honeydew;
}

.storage {
  padding: 3px 25px;
 
  
}
