/* 

.single-answere {
  display: flex;
  align-items: center;
}
.single-answere h1 {
  margin-left: 13rem;
  margin-top: 13px;
  position: absolute;
  text-align: right;
  font-size: 22px;
  color: green;
}
.single-answere input {
  height: 2rem;
}

.two-answere {
  display: flex;
  align-items: center;
}

.two-answere h1 {
  margin-left: 10rem;
  margin-top: 13px;
  position: absolute;
  text-align: right;
  font-size: 22px;
  color: green;
}

.two-answere input {
  height: 2rem;
} */
