.question-list {
  background-color: rgb(209, 207, 207);
  text-align: center;
  padding-top: 2rem;
  font-size: 20px;
  height: auto;
}
.question-btn {
  margin-left: 73%;
  list-style-type: none;
}
.question-btn button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  padding: 1%;
  border-radius: 5px;
  width: 7rem;
  border: 2px solid rgb(39, 65, 64);
  color: rgb(39, 65, 64);
  background-color: honeydew;
  font-size: 15px;
  font: bold;
  font-weight: 600;
}
.individual-question {
  background-color: #f9f9f9;
  border-radius: 7px;
  margin: 1rem 12rem;
  padding-top: 2rem;
}
.individual-question ul {
  margin-top: 2rem;
    margin-left: 9px;
    border: none;
    border-bottom: 2px solid black;
    border-bottom-width: 2px;
    width: 67rem;
    list-style-type: none;
    padding-top: 15px;
}

.question {
  color: rgb(15, 15, 101);
  font-size: 25px;
  font-weight: 600;
  text-align: left;
  margin-left: 2rem;
}

.question-info {
  padding-top: 1rem;
}

q li {
  color: blue;
}
.question-info,
.list {
  color: blueviolet;
  text-align: left;
}

.question-details-list,
.list li {
  color: rgb(255, 132, 0);
  padding: 2px 0px 0px 18px;
  font-weight: 800;
  font-size: 22px;
  margin-bottom: 10px;
}

.question-details-list ul {
  display: flex;
  flex-direction: column;
}

.question-details-list span {
  color: blueviolet;
}
