.question-paper {
  height: auto;
}

.question-form {
  background: linear-gradient(to left, rgba(1, 50, 97, 0.9), rgb(5, 2, 58));

  height: auto;
}

.question-form h2 {
  text-align: center;
  font-weight: 600;
  color: white;
  font-size: 2.5rem;
  padding-top: 4%;
}

.question-form input {
  height: 3rem;
  border: none;
  border-radius: 1rem;
  margin-left: 2rem;
  font-size: 19px;
  width: 40rem;
  padding: 10px;
  outline: none;
}

.question-form input::placeholder {
  text-align: center;
  font-size: 15px;
  color: black;
  opacity: 0.7;
}

.q1 {
  margin-top: 2.5rem;
}

.question-form select {
  margin-left: 2px;
  width: 12%;
  border-radius: 5px;
  background-color: white;
  color: darkcyan;
  font-size: larger;
  font-weight: 600;
}
.question-form label {
  color: white;
  margin-left: 1rem;
  font-size: 25px;
  font-weight: 900;
}

.question-form button {
  padding: 1%;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 2rem;
  width: 10rem;
  border: 1px solid rgb(39, 65, 64);
  color: rgb(39, 65, 64);
  font-size: 15px;
  font: bold;
  font-weight: 600;
  margin-left: 25rem;
}

.question-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5%;
}

.question-subject input {
  width: 400px;
  padding: 3px;
  outline: none;
}

.question-submit {
  display: flex;
  /* Stack elements vertically */
  position: relative;
  gap: 20px; /* Space between elements */
}

.question-input {
  position: relative;
  z-index: 1; /* Keep the input field in front of other elements */
}

.question-category {
  margin: 40px 0px 0px 25px;
}
.question-difficulty {
  position: absolute;
  left: 50%;
  
}

.question-difficulty select,
.question-marks select,
.question-category select{
 width: 20px;
  
}

.question-marks {
  position: absolute;
  left: 65%;
}
